*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif; 
}

.content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.btn{
    min-width: 118px;
    border-radius: 24.5px;
    background-color: #171100;
    color:  #FFFFFF;
    display: inline-block;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 17px 0;
    text-align: center;
}
.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
.heading{
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: left;
}
.desc{
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: left;
    color: #5F5B53;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-2{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;;
}
.word-break-all{
    word-break: break-word;
}

/* =====================================Header============================= */
.header{
    padding-top: 24px;
    position: sticky;
    top: -24px;
    background-color: #FFFCF4;
    z-index: 1;
}
/* ========================================Navigation============================== */
.navbar{
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul{
    display: flex;
    margin-left: auto;
    margin-right: 70px;
    gap: 42px;
}

.navbar ul a{
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: #5F5B53;
}
.navbar ul a:hover{
    text-shadow: 1px 0 0 currentColor;  
    color: #171100;
}
.navbar .sign-up-btn{
    min-width: 144px;
}
.navbar ul li:first-child a{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #171100;
}

.navbar ul li:first-child a::after{
    content: "";
    display: block;
    background-color: #171100;
    width: 12px;
    height: 2px;
    border-radius: 1px;
}

/* ======================================Hero=================================== */
.hero-wrap{
    padding-top: 64px;
    height: 802px;
    background-color: #FFFCF4;
}
.hero-wrap .body{
    display: flex;
}
.hero-wrap .media-block{
    position: relative;
    width: 50%;
}
.hero-wrap .media-block .img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero-wrap .media-block .list{
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 16px 32px 0px #0000000D;
    position: absolute;
    bottom: 48px;
    right: 0;
}

.hero-wrap .media-block .list .item {
    margin-left: 24px;
    padding-top: 14px;
    display: flex;
}
.hero-wrap .media-block .list .item .info{
    font-size: 1.4rem;
    margin-left: 16px;
}
.hero-wrap .media-block .list .item .quantity{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    color: #5F5B53;
}

.hero-wrap .media-block .list .item .title{
    margin-top: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
    color: #171100;
}
.hero-wrap .media-block .list .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-wrap .media-block .list .item:first-child {
    margin-top: 24px;
}
.hero-wrap .media-block .list .item:first-child .icon{
    background-color: #FFF9E8;
}
.hero-wrap .media-block .list .item:nth-child(2) .icon{
    background-color: #FCEFFF;
}
.hero-wrap .media-block .list .item:last-child .icon{
    background-color: #EBEAFF;
}

.hero-wrap .content-block{
    margin-left: auto;
    width: 470px;
}

.hero-wrap .content-block .heading{
    margin-bottom: 22px;
}

.hero-wrap .content-block .btn{
    margin-top: 38px;
    margin-bottom: 48px;
    padding: 23px 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    min-width: 180px;
    background-color: #FFB900;
    border-radius: 32px;
}
.hero-wrap .content-block .cta-group{
    display: flex;
    align-items: center;
}
.hero-wrap .content-block .watch-video {
    border: none;
    background-color: #FFFCF4;
    display: flex;
    align-items: center;
}
.hero-wrap .content-block .watch-video .icon{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 14px 0 28px;
}
.hero-wrap .content-block .watch-video span{
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
    color: #171100;
}
.hero-wrap .content-block .watch-video:hover{
    cursor: pointer;
}

.hero-wrap .content-block .row{
    display: flex;
    gap: 28px;
}
.hero-wrap .content-block .row strong{
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    text-align: left;
    color: #171100;
    margin-right: 10px;
}

/* =============================Popular======================================== */
.popular{
    margin-top: 200px;
}

.popular .heading{
    font-size: 3.8rem;
    margin-bottom: 18px;
}

.popular-top{
    display: flex;
    align-items: center;
}

.popular-top .desc{
    max-width: 458px;
}

.popular-top .controls{
    margin-left: auto;
    display: flex;
    gap: 18px;
}

.popular-top .control-btn{
    width: 40px;
    height: 40px;
    border: 1px solid #FFB900;
    border-radius: 50%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFB900;
}
.popular-top .control-btn:hover{
    color: #FFF;
    background-color: #FFB900;
    cursor: pointer;
}
                        /* course-list */
.popular .course-list{
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.popular .course-list .item {
    width: 370px;
    height: 466px;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}
.popular .course-list .item:hover{
    border: 1px solid #FFF;
    box-shadow: 0px 18px 36px 0px #0000000D;
    border-radius: 12px 12px 0px 0px;
}
.popular .course-list .item .thumb{
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.popular .course-list .item .info{
    padding: 16px 22px 22px 22px;
}
.popular .course-list .item .info .head {
    display: flex;
    align-items: center;
}
.popular .course-list .item .info .head .title{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
    color: #171100;
    line-height: 1.6;
}
.popular .course-list .item .info .head .star{
    margin-left: auto;
    margin-right: 6px;
}
.popular .course-list .item .info .head .rating{
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    color: #FEA31B;
}
.popular .course-list .item .info .desc{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    line-height: 1.9;
}
.popular .course-list .item .info .foot{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.popular .course-list .item .info .price{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
}
.popular .course-list .item .info .foot .btn{
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 15px 0;
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.popular .course-list .item .info .foot .btn:hover{
    color: #FFF;
    background-color: #FFB900;
}

/* =========================================Feedback======================================= */
.feedback{
    margin-top: 200px;
    height: 380px;
    background-color: #2E2100;
}

.feedback-item{
    display: flex;
    padding: 96px 0;
}
.feedback-item .info{
    min-width: 159px;
}
.feedback-item .info .avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback-item .info .title{
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: left;
    color: #F7F7F7;
    margin-top: 18px;
}
.feedback-item .info .desc{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    margin-top: 7px;
    color: #BFBCB2;
}
.feedback-item .info .dots{
    margin-top: 28px;
    display: flex;
    gap: 6px;
}
.feedback-item .info .dot{
    display: block;
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
}
.feedback-item .info .dot:nth-child(2){
    background-color: #FFB900;
}

.feedback-item .feedback-content{
    margin-left: auto;
    position: relative;
    padding: 28px 0 0 0;
}
.feedback-item .feedback-content blockquote{
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 740px;
}
.feedback-item .feedback-content .open-quotes{
    position: absolute;
    top: 0;
    left: -30px;
}
/* ======================================Featured 1====================================== */
.features{
    margin-top: 200px;
}

.features .body{
    display: flex;
}

.features .images{
    display: flex;
    gap: 30px;
}

.features .images .img{
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.features .images .img:first-child{
    margin-top: 34px;
}
.features .feature-content{
    margin-top: 58px;
    margin-left: 130px;
}
.features .feature-content .heading{
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: left;
}
.features .feature-content .desc{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 16px;
}

.features .feature-content .btn{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF;
    background-color: #FFB900;
    border-radius: 26px;
    display: inline-block;
    min-width: 137px;
    padding: 11px 0;
    margin-top: 32px;
}

/* ======================================Featured 2====================================== */

.features-2 .body{
    flex-direction: row-reverse;
}

.features-2 .body .images .img{
    width: 470px;
    height: 440px;
}
.features-2 .body .feature-content{
    margin-left: 0px;
}
.features-2 .body .feature-content .heading{
    margin-top: 15px;
    min-width: 570px;
}
/* ========================================Blog=================================== */
.blog{
    margin-top: 200px;
    height: 878px;
    background-color: #FFFCF4;
}

.blog-top .heading{
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: center;
    margin: auto;
    padding-top: 96px;
}
.blog-top .desc{
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
    margin: auto;
    margin-top: 16px;
    max-width: 448px;
    margin-bottom: 55px;
}
.blog-list {
    display: flex;
    gap: 30px;
}

.blog-item{
    width: 370px;
    height: 467px;
    background-color: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
}
.blog-item .thumb{
    border-radius: 16px 16px 0px 0px;
}

.blog-item:hover{
    box-shadow: 0px 16px 32px 0px #0000000D;
}

.blog-item .info{
    padding: 20px;
}

.blog-item .date{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0em;
    text-align: left;
    color: #5F5B53;
    position: relative;
    padding-left: 10px;
}
.blog-item .date::before{
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    background-color: #FFB900;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 0;
}
.blog-item .date::after{
    content: "";
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background-color: #E2DFDA;
    display: inline-block;
    position: absolute;
    bottom: -13px;
    left: 0;
}

.blog-item .title{
    margin-top: 25px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 0em;
    text-align: left;
    color: #171100;
}

.blog-item .btn{
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}
.blog-item .btn:hover{
    color: #FFFFFF;
    background-color: #FFB900;
}
.blog .dots{
    margin-top: 38px;
    display: flex;
    gap: 6px;
    justify-content: center;
}

.blog .dots .dot{
    width: 6px;
    height: 6px;
    background-color: #5F5B53;
    border-radius: 50%;
}
.blog .dots .dot:nth-child(2){
    background-color: #FFB900;
}

/* =======================================footer============================== */
.footer{
    margin-top: 96px;
    background-color: #2E2100;
    height: 428px;
}

.footer .row{
    display: flex;
    padding: 96px 0 82px 0;
}
.footer .row .column{
    margin-right: 130px;
}
.footer .row .column:last-child{
    margin-right: 0px;
    width: 231px;
}
.footer .row .column .heading{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    text-align: left;
    color: #FFFFFF;
    position: relative;;
}
.footer .row .column .heading::after{
    content: "";
    display: inline-block;
    width: 130px;
    height: 1px;
    background-color: #59554B;
    position: absolute;
    bottom: -14px;
    left: 0px;
}
.footer .row .column:first-child{
    width: 267px;
    margin-right: 135px;
}
.footer .row .column:first-child .desc{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0em;
    text-align: left;
    color: #BFBCB2;
    margin-top: 18px;
    margin-bottom: 18px;
}
.footer .row .column:first-child .social{
    display: flex;
    gap: 18px;
}
.footer .row .column li a{
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0em;
    text-align: left;
    color: #BFBCB2;
}
.footer .row .column li:first-child{
    margin-top: 48px;
}
.footer .row .column li strong{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.9;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.footer .row{
    border-bottom: 1px solid #59554B;
}

.footer .copyright{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0em;
    text-align: center;
    color: #807D74;
    display: block;
    margin-top: 24px;
}